{% extends 'base.html' %}

    {% block title %}
        World Wise Traveller - Контакты
    {% endblock %}
    {% block content %}
        <main>
            <div class="container p-4">
                <div class="row">
                    <div class="col-12">
                        <h5 class="text-uppercase">Контактная информация</h5>
                        <p>
                            Адрес: Улица Путешественников, 123<br>
                            Телефон: +123 456 7890<br>
                            Email: info@worldwisetraveller.com
                        </p>
                    </div>
                    <br>
                    <div class="col-12">
                        <h5 class="text-uppercase">Мы в социальных сетях</h5>
                        <a href="#" class="btn btn-outline-dark btn-floating m-1" role="button"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="btn btn-outline-dark btn-floating m-1" role="button"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="btn btn-outline-dark btn-floating m-1" role="button"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </main>
    {% endblock %}